body {
  font-family: sans-serif;
  background: #ffffff;
  color: #000000;
}

h1 {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 16px;
  padding: 24px;
  max-width: 1000px;
  margin: 0 auto;
}

.folder {
  background: #1067ff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
}

.folder:hover {
  background: #5291ff;
  scale: 1.05;
  box-shadow: #000000 0px 0px 10px;
}

.folder img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #1067ff;
}

